body {
	font-family: Helvetica, sans-serif;
}

button:hover {
	cursor: pointer;
}

#game-wrapper{
	margin: auto;
	padding: 30px;
}

#game-header{
	font-size: 30px;
	font-weight: bold;
	color: black;
	width: 60%;
	text-align: center;
	margin: 0 auto 25px;
	padding: 10px;
}

#button-wrapper {
	margin: auto;
	width: 60%;
	text-align: center;
	margin-bottom: 20px;
}

.choice-button {
	width: 130px;
	padding: 0px 5px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	background-color: #dedede;
	border: none;
	outline: none;
	padding: 5px;
}

.choice-button:active {
	box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.5);
}

#board-wrapper{
	background-color: black;
	width: 75%;
	max-width: 640px;
	min-width: 360px;
	margin: 0 auto;	
	overflow: hidden;
}

.row {
    margin-bottom: 5%;
    overflow: hidden;
}

.last-row {
	margin-bottom: none;
	overflow: hidden;
}

.right-side {
	
}

.square {
	display: inline-block;
	background: white;
	margin-left: 5%;
	padding: 30px 0;
	font-size: 0px;
	float: left;
	border: none;
	outline: none;
	transition: all .2s;
}

.square.blink {
	font-size: 80px;
}

.left{
	margin-left: 0px;
}

.winner {
	background-color: #dedede;
	color: red;
}